<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">收集房屋坐标和与天安门距离: </h2>
  </div>
</div>

<div class="row">

  <div class="col-sm-4">

    <div class="row">
      <div class="col-sm-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i>控制面板
          </div>
          <div class="panel-body">

            <form class="form-horizontal">
              <%#= select_tag "data_type", options_for_select(["公交车站", "商场", "学校", "地铁站", "写字楼", "医院"], "公交车站"), class: "form-control" %>
              <%= hidden_field_tag "post_url", post_url %>
              <%= hidden_field_tag "get_url", get_url %>

              <div class="form-group">
                <label class="col-sm-4 control-label">刷新频率</label>
                <div class="col-sm-8">
                  <%= select_tag "time_interval", options_for_select([0, 10, 100, 200, 500, 1000, 2000], 100), class: "form-control" %>
                </div>
              </div>

              <button class="btn btn-success btn-block">开始</button>

            </form>
            <button class="btn btn-danger btn-block" onclick="flag=true;" style="margin-top: 10px">暂停</button>

          </div>
        </div>

      </div>
    </div>

    <div class="row">

      <div class="col-sm-12">

        <!--<div class="progress">-->
        <!--<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70"-->
        <!--aria-valuemin="0" aria-valuemax="100" style="width:70%">-->
        <!--70%-->
        <!--</div>-->
        <!--</div>-->

        <div class="panel panel-default">
          <div class="panel-heading">
            当前房屋信息:
          </div>
          <div class="panel-body">
            <table>
              <tr>
                <td style="width: 30%">ID:</td>
                <td id="id"></td>
              </tr>
              <tr>
                <td style="width: 30%">小区:</td>
                <td id="community"></td>
              </tr>
              <tr>
                <td style="width: 20%">地址:</td>
                <td id="street"></td>
              </tr>
              <tr>
                <td style="width: 40%">距离市中心:</td>
                <td id="distance"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">百度地图API
      </div>
      <div class="panel-body">
        <div id="l-map" style="height: 400px;width: 100%">
        </div>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript">

  var post_url = null;
  var get_url = null;
  //  var keyword = null;
  var timeInterval = null;
  var flag = false;
  var search_range;

  var map = new BMap.Map("l-map");
  map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
  map.enableScrollWheelZoom(true);
  var myGeo = new BMap.Geocoder();

  //  var circle = new BMap.Circle(new BMap.Point(116.404, 39.915), search_range, {
  //    fillColor: "blue",
  //    strokeWeight: 1,
  //    fillOpacity: 0.1,
  //    strokeOpacity: 0.3
  //  });
  //  map.addOverlay(circle);

  $('form').submit(function () {
    var params = $(this).serializeArray();
    post_url = params[0].value;
    get_url = params[1].value;
//    keyword = params[2].value;
    timeInterval = Number(params[2].value);
//    search_range = Number(params[3].value);

    if (post_url == null || get_url == null || timeInterval == null) {
      alert('Error in post url: ' + post_url + " or get url: " + get_url);
    } else {
      flag = false;

      getData();
    }
    return false; // prevents normal behaviour
  });


  function getData() {
    $.ajax({
      type: "GET",
//      url: "/houses/get_each",
      url: get_url,
      dataType: 'json',
      success: function (data) {
        var id = data.id;
        $('#id').html(data.id);
        $('#community').html(data.community);
        $('#street').html(data.street);

        myGeo.getPoint(data.street, function (point) {
          if (point) {
            markData(point, id);
          } else {
            myGeo.getPoint(data.community, function (repoint) {
              if (repoint) {
                markData(repoint, id)
              } else {
                setTimeout(function () {
                  console.log("Error: no address of " + " id: " + data.id + " community: " + data.community + " street: " + data.street);
                  getData();
                }, timeInterval);
              }
            }, "北京市");
          }
        }, "北京市");
      },
      error: function () {
        alert('没有权限喔')
      },
      timeout: function () {
        alert('time out')
      }
    });
  }

  function markData(point, id) {
//    map.centerAndZoom(point, 16);
    map.addOverlay(new BMap.Marker(point));
    var distance = parseFloat(map.getDistance(point, new BMap.Point(116.404, 39.915))).toFixed(1);
    $('#distance').html(distance);
    setTimeout(function () {
      sendData(distance, point.lng, point.lat, id);
    }, timeInterval);

  }

  function sendData(distance, lng, lat, id) {
    $.ajax({
      type: "POST",
//      url: '/houses/update',
      url: post_url,
      data: "lng=" + lng + "&lat=" + lat + "&id=" + id + '&distance=' + distance,
      dataType: "JSON",
      success: function (data) {
        if (flag) {
          console.log("warning", 'pause');
        } else {
          map.clearOverlays();
          getData();
          console.log("success", data);
        }
      },
      error: function () {
        alert('error in post');
      },
      timeout: function () {
        alert('time out in post')
      }
    });
  }

</script>

