<div id="r-result">

  <input type="button" value="获得数据" onclick="getData()"/>
  <div id="result"></div>

  <input type="button" value="转换" onclick="getMarket()"/>
  <div id="result"></div>

  <input type="button" value="画" onclick="draw()"/>
  <div id="result"></div>

</div>

<div id="l-map">
</div>


<script type="text/javascript">

  //   百度地图API功能
  var map = new BMap.Map("l-map");
  map.centerAndZoom(new BMap.Point(116.404, 40.095), 11);
  map.enableScrollWheelZoom(true);
  var myGeo = new BMap.Geocoder();
  var adds = [];
  var markers = [];

  function getMarket() {
    $.each(adds, function (index, element) {
      myGeo.getPoint(element, function (point) {
        if (point) {
          var address = new BMap.Point(point.lng, point.lat);
//        addMarker(address, new BMap.Label(index + ":" + add, {offset: new BMap.Size(20, -10)}));
          var marker = new BMap.Marker(address);
          markers.push(marker);
        }
      }, "北京市");
    });
  }

  function draw() {
    var markerClusterer = new BMapLib.MarkerClusterer(map, {markers:markers});
  }

  function addMarker(point, label) {
    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
    marker.setLabel(label);
  }

  //最简单的用法，生成一个marker数组，然后调用markerClusterer类即可。

  //    var local = new BMap.LocalSearch(map, {
  //      renderOptions:{map: map, panel:"r-result"},
  //      pageCapacity:5
  //    });

  //    local.searchInBounds(myKeys, map.getBounds());


  function getData() {
    $.ajax({
      type: "GET",
      url: "/ajax",
      dataType: 'json',
      success: function (data) {

        $.each(data, function (index, element) {
          adds.push(element.community);
        });

      },
      error: function () {
        alert('error')
      },
      timeout: function () {
        alert('time out')
      }
    })
  }


</script>

<style type="text/css">

  #l-map {
    height: 500px;
    width: 100%;
  }

  #r-result {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
</style>
