<div id="allmap">
</div>


<script type="text/javascript">

  // 百度地图API功能
  //  var map = new BMap.Map("allmap");    // 创建Map实例
  //  map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
  //  map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
  //  map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
  //  map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

  $.ajax({
    type: "GET",
    url: "/ajax",
    data: null,
    dataType: 'json',
    success: function (data) {
      alert(data);
    }


  })

</script>

<style type="text/css">
  body, html, #allmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: "微软雅黑";
  }
</style>
