<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)

        }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-41676236-2', 'auto');
  ga('send', 'pageview');
</script>

<div class="gobang-container">

  <canvas id="gobang" width="500" height="500">
    Your browser doesn't support HTML5 canvas.
    <br/>
    您的浏览器不支持HTML5哦
  </canvas>

  <div class="gobang-panel" id="gobang-welcome">
    <div style="display: table-cell; vertical-align: middle;">
      <h2 style="padding-bottom: 40px;"> Gobang in HTML5 </h2>
      <a class="gobang-start" href="#"> Play </a>
      <!--<a class="gobang-start-human" href="#"> Play with Human </a>-->
    </div>
  </div>

  <div class="gobang-panel" id="gobang-result" style="display: none;">
    <div style="display: table-cell; vertical-align: middle;">
      <h2><span id="gobang-winner">Somebody</span> wins! </h2>
      <div>
        <a class="gobang-start" href="#"> Restart </a>
      </div>
    </div>
  </div>

  <div class="gobang-panel" id="gobang-waiting" style="display: none;">
    <div style="display: table-cell; vertical-align: middle;">
      <h3> Thinking ... @_@ </h3>
    </div>
  </div>

</div>

<div class="gobang-controller">
  Difficulty:
  <select id="gobang-difficulty">
    <option value="1"> Super Easy</option>
    <option value="2" selected="true"> Easy</option>
    <option value="3"> Hard</option>
  </select>

  <button id="gobang-regret" style="display: inline-block; line-height: 20px; margin-left: 20px;"> Regret!</button>
</div>


<script>
  gobang = new Gobang(document.getElementById("gobang"));
  if (gobang.init()) {
    gobang.draw();
    //gobang.run();
  }

  document.getElementById("gobang-difficulty").onchange = function (e) {
    if (typeof(this.selectedIndex) != undefined) {
      var v = parseInt(e.target[this.selectedIndex].value, 10);
      gobang.hardness = v;
    }
  };

  document.getElementById("gobang-regret").onclick = function (e) {
    gobang.regret();
  };

</script>


<style>
  * {
    padding: 0;
    margin: 0;
  }

  body {
    width: 100%;
  }

  .gobang-container {
    position: relative;
    width: 100%;
    height: 500px;
  }

  canvas {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .gobang-container > * {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    max-width: 100%;
  }

  .gobang-panel {
    z-index: 2;
    display: table;
    text-align: center;
    background: rgba(40, 40, 40, 0.6);
    font-size: 30px;
    font: bold;
    color: #CCCC66;
  }

  .gobang-controller {
    margin: 10px auto;
    text-align: center;
  }
</style>
