<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

  <div class="navbar-header">
    <%= link_to "HousePricing", root_path, method: :get, class: 'navbar-brand' %>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-top-links navbar-right">

      <li> <%= link_to "Github", 'https://github.com/PENGZhaoqing/HousePricing' %></li>

    </ul>
    <%= render 'layouts/navside' %>
  </div>
</nav>





