<!DOCTYPE html>
<html>
<head>
  <title>GobangTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZmMCG4QP5FaX064YxPdgQq1sHLYyjKMA"></script>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
    body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
  </style>

</head>
<body>

<%= yield %>

</body>
</html>
